@font-face {
  font-family: "iconfont"; /* Project id 2352963 */
  src: url('iconfont.woff2?t=1638634577571') format('woff2'),
       url('iconfont.woff?t=1638634577571') format('woff'),
       url('iconfont.ttf?t=1638634577571') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e6b4";
}

.icon-share:before {
  content: "\e6ce";
}

.icon-like1:before {
  content: "\e602";
}

.icon-box-empty:before {
  content: "\e677";
}

.icon-animal:before {
  content: "\e718";
}

.icon-cartoon:before {
  content: "\e60a";
}

.icon-beauty:before {
  content: "\e642";
}

.icon-roadster:before {
  content: "\ee21";
}

.icon-background:before {
  content: "\e609";
}

.icon-all:before {
  content: "\e643";
}

.icon-game:before {
  content: "\e71e";
}

.icon-landscape:before {
  content: "\e63f";
}

.icon-eye1:before {
  content: "\e9ab";
}

.icon-like:before {
  content: "\e6fc";
}

.icon-collect:before {
  content: "\e603";
}

.icon-close:before {
  content: "\e664";
}

.icon-Minimize:before {
  content: "\e70e";
}

.icon-maximize:before {
  content: "\e7bf";
}

.icon-Maximize-expand:before {
  content: "\e892";
}

.icon-download:before {
  content: "\e6cf";
}

.icon-link:before {
  content: "\e600";
}

.icon-save:before {
  content: "\e762";
}

.icon-image:before {
  content: "\e71a";
}

.icon-update:before {
  content: "\e698";
}

.icon-battery-charging:before {
  content: "\e7d1";
}

.icon-battery-full:before {
  content: "\e70d";
}

.icon-battery-empty:before {
  content: "\e78d";
}

.icon-wifi-on-line:before {
  content: "\e75c";
}

.icon-online:before {
  content: "\e612";
}

.icon-wifi-off-line:before {
  content: "\e759";
}

